@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    background-image: url(/images/mobile-day-backgound.png);
    overflow: hidden;

    #root{
        margin: 3rem 3rem;

        #quote{
            width: 75vw;
            font-size: 2rem;
            text-align: center;
            margin: 0 auto;
        

            margin-bottom: 25rem;
            .quoteSign{
                font-family: 'Calistoga', cursive;
                font-size: 2rem;
            }
        }
        #greeting{

            span{
                font-size: 2.5rem;
                margin-left: 1rem;
                font-weight: 700;
                text-shadow: 0.7rem 0.5rem 2rem #020101d8;
                color: #fff;
            }
        }
        #clock{
            font-size: 10rem;
            font-weight: 900;
            transition: opacity 1s ease;
            opacity: 0;
            text-shadow: 0.7rem 0.5rem 2rem #343030d8;
            color: #fff;
        }
        #location{
            font-size: 2rem;
            text-shadow: 0.1rem 0.1rem 0.5rem #000000;
            color: #fff;

        }
        #moonsun{
            width: 10rem;
        }
        #moreLessContainer{
            width: 8rem;
            height: 3rem;
            background-color: white;
            border-radius: 999px;
            position: relative;
            left: 0;
            margin-top: 6rem;
            margin-bottom: 2rem;
            color: black;
            box-shadow: 0.7rem 0.5rem 2rem #0000005b;

            img{
                width: 2rem;
                position: absolute;
                left: 65%;
                top: 18%;
            }
            p{
                position:absolute;
                top: 22%;
                left: 15%;
                font-size: 1.3rem;
            }
        }
        .middleContainer{
            position: relative;

        }
        .moreDetailes{
            display: none;
            width: 85vw;
            height: fit-content;
            border-radius: 10px;
            padding: 1.5rem 1.5rem;
            gap: 3rem;
            font-weight: 700;
            flex-flow: row nowrap;
            background-color: rgba(51, 54, 59, 0.678);
            position: relative;
            color: #fff;
            top: 10rem;
            .leftTable>p{
                margin-bottom: 2.5rem;
                font-size: 1.3rem;
                opacity: 80%;

            }
            .rightTable>p{
                margin-bottom: 2.5rem;
                font-size: 1.8rem;

            }
           
        }
    }
    
}